{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Resultat recherche
{% endblock %}
{% block ovs %}
    {% if (ville is empty) and (sport is empty) %}
        <p>Vous n'avez pas spécifié de ville ou de sport</p>
    {% else %}
        {% if (ville is not empty) and (sport is empty) %}
            <p>Vous avez recherché {{ ville.ville }}</p>
        {% else %}
            {% if (ville is empty) and (sport is not empty) %}
                <p>Vous avez recherché {{ sport.nom }}</p>
            {% else %}
                <p>Vous avez recherché {{ ville.ville }} {{ sport.nom }}</p>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if evenements is not empty %}
        <p>Evénement public</p>
        <table>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th>Ville</th>
            </tr>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.date|date('d/m/Y')}}</td>
                    <td>{{ evenement.heure|date('H:i') }}</td>
                    <td>{{ evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">{{ evenement.nom }}</a></td>
                    <td>{{ evenement.nombreValide }} / {{ evenement.inscrit }}</td>
                    <td><a href="{{ path('ws_user_user_profil', {'id': evenement.user.id}) }}">{{ evenement.user.username }}</a></td>
                    <td>{{ evenement.ville }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'événement.</p>
    {% endif %}
    <br/>
    {% if evenement_privs is not empty %}
        <p>Evénement privé</p>
        <table>
            <tr>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th>Ville</th>
            </tr>
            {% for evenement in evenement_privs %}
                <tr>
                    <td>{{ evenement.heure|date('H:i') }}</td>
                    <td>{{ evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">{{ evenement.nom }}</a></td>
                    <td>{{ evenement.nombreValide }} / {{ evenement.inscrit }}</td>
                    <td><a href="{{ path('ws_user_user_profil', {'id': evenement.user.id}) }}">{{ evenement.user.username }}</a></td>
                    <td>{{ evenement.ville }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}