<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WoozeoStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

        <link type="text/css" href="{{ asset('css/jquery.ui.chatbox.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ asset('css/jquery-ui-1.11.1.custom/jquery-ui.css') }}" rel="stylesheet" />
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/sunny/jquery-ui.css">-->
        <script src="{{ asset('js/jquery.ui.chatbox.js') }}"></script>
        <script src="{{ asset('js/chat.js') }}"></script>
        <script src="{{ asset('js/calendrier.js') }}"></script>
        <script src="{{ asset('js/jquery.ui.addresspicker.js') }}"></script>
        <script src="{{ asset('js/addresspicker.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>    
        
    </head>
    <body>
        <header>
            <div id="user_header">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="pseudo" data-pseudo={{ app.user.username }}>
                    Bonjour {{ app.user.username }}
                </div> 
                - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                <a href="{{path('fos_user_profile_show') }}">Votre Profil</a>
             {% else %}
                    <div id="connexion">
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>&nbsp
                    </div>
                    <div id="register">
                        <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>&nbsp
                    </div>
                    <div id="forget_password">
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>&nbsp
                    </div>
                {% endif %}
            </div>
        </header>
            <div id="menu">
                <ul>
                    <li><a href="{{ path('ws_ovs_evenement_add') }}">ajouter évènement</a></li>
                    <li><a href="{{ path('ws_ovs_evenement_list') }}">liste évènement</a></li>
                    <li><a href="{{ path('ws_ovs_sport_add') }}">ajouter sport</a></li>
                    <li><a href="{{ path('ws_ovs_sport_list') }}">liste sport</a></li>
                </ul>
            </div>
            <div id="datepicker"></div>
            <hr />
            <div>
                {{ render(controller("WSChatBundle:Chat:listUser")) }}
            </div>
            <div id="chat_div">
            </div>
            <div id="message">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <p><a href="{{ path('ws_chat_fichierText') }}">test Fichier</a></p>
            <p><a id="testajax" href="#">test Ajax</a></p>
            <script>
            $(document).ready(function() {
               $("#testajax").click(function() {
                    alert('bob');
                    
                    var $ligne='vive Bob';
                    var $ligne2='ajax c bien';
                    
                    $.ajax({
                        type: "POST",
                        url: "{{ path ('ws_chat_fichierText')}}",
                        //data: "{'ligne':'"+$ligne+"', 'ligne2':'"+$ligne2+"'}",
                        data: {ligne: $ligne , ligne2: $ligne2},
                        cache: false
                    });
               });
            });
                </script>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
    </body>
</html>
