{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - gerer evenement
{% endblock %}
{% block ovs %}
    <p>Evènement : {{ evenement.nom }} du {{ evenement.date|date('d-m-Y') }}</p>
    <p>Il y a actuelement <span id="nombreValide">{{ evenement.nombreValide }}</span> d'inscrit pour <span id="inscrit">{{ evenement.inscrit }}</span> places.<p>
    {% include 'WSOvsBundle:formulaire:formulaire.html.twig' %}
    <script src="{{ asset('js/gerer.js') }}"></script>
{% endblock %}
