{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - list evenement
{% endblock %}
{% block ovs %}
    <p>le {{date|date('d/m/Y')}}</p>
    {% if evenements is not empty %}
        <p>Evènement public</p>
        <table>
            <tr>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th>Ville</th>
            </tr>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.heure|date('H:i') }}</td>
                    <td>{{ evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">{{ evenement.nom }}</a></td>
                    <td>{{ evenement.nombreValide }} / {{ evenement.inscrit }}</td>
                    <td><a href="{{ path('ws_user_user_profil', {'id': evenement.user.id}) }}">{{ evenement.user.username }}</a></td>
                    <td>{{ evenement.ville }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'évènement.</p>
    {% endif %}
    <br/>
    {% if evenement_privs is not empty %}
        <p>Evènement privé</p>
        <table>
            <tr>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>organisateur</th>
                <th>Ville</th>
            </tr>
            {% for evenement in evenement_privs %}
                <tr>
                    <td>{{ evenement.heure|date('H:i') }}</td>
                    <td>{{ evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">{{ evenement.nom }}</a></td>
                    <td>{{ evenement.nombreValide }} / {{ evenement.inscrit }}</td>
                    <td><a href="{{ path('ws_user_user_profil', {'id': evenement.user.id}) }}">{{ evenement.user.username }}</a></td>
                    <td>{{ evenement.ville }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'évènement privé.</p>
    {% endif %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p><a href="{{ path('ws_ovs_evenement_add') }}">ajouter évènement</a></p>
    {% endif %}
{% endblock %}
