{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - evenement
{% endblock %}
{% block ovs %}
    <p>{{ evenement. nom }} par {{ evenement.user.username }}</p>
    <p>le {{ evenement.date|date('d/m/Y') }} à {{ evenement.heure|date('H:i')}}</p>
    <p>Type de sport : {{ evenement.sport.nom }}<p>
    <p>Description
        <br/>
       {{ evenement.descriptif|nl2br }}
    </p>
    <p>Nombre de place maximun {{ evenement.inscrit }}</p>
    <p>Adresse
        <br/>
        {{ evenement.adresse|nl2br }}
        <div id="map">
        </div>
    </p>
    <p>Liste des inscrits ({{ userEvenementValides|length }}/{{ evenement.inscrit }} reste {{ evenement.inscrit - userEvenementValides|length }})<p>
    {% for ue in userEvenementValides %}
        <p>{{ ue.user.username }}</p>
    {% endfor %}
    <p>Liste d'attente ({{ userEvenementAttentes|length }})</p>
    {% for ue in userEvenementAttentes %}
        <p>{{ ue.user.username }}</p>
    {% endfor %}
    <p>
        {% if app.user == evenement.user %}
            <a href="{{ path('ws_ovs_evenement_desactiver', {'id': evenement.id}) }}">supprimer cette sortie</a>
        {% else %}
            {% set present = false %}
            {% for us in evenement.userEvenements %}
                {% if us == app.user %}
                    {% set present = true %}
                {% endif %}
            {% endfor %}
            {% if present == true %}
                <a href="{{ path('ws_ovs_userevenement_modifier', {'id': evenement.id}) }}">Modifier ma participation</a>
            {% else %}
                {% if evenement.inscrit - userEvenementValides|length > 0 %}
                    <a href="{{ path('ws_ovs_userevenement_add', {id: evenement.id}) }}">S'inscrire à lévènement</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </p>
    
    <p><a href="{{ path('ws_ovs_evenement_list') }}">Retour à la liste des évènements</a></p>
{% endblock %}
