{% extends 'WSOvsBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - evenement
{% endblock %}
{% block ovs %}
    <p>{{ evenement. nom }} par <a href="{{ path('ws_user_user_profil', {'id': evenement.user.id}) }}">{{ evenement.user.username }}</a></p>
    <p>le {{ evenement.date|date('d/m/Y') }} à {{ evenement.heure|date('H:i')}}</p>
    <p>Type de sport : {{ evenement.sport.nom }}<p>
    <p>Description
        <br/>
       {{ evenement.descriptif|raw }}
    </p>
    {% if evenement.modification is not null %}
        <p>Cet événement a été modifié : 
            <br/>
            {{ evenement.modification|nl2br }}
        </p>
    {% endif %}
    <p>Nombre de place maximun {{ evenement.inscrit }}</p>
    <p>Adresse
        <br/>
        <span id="adresse">{{ evenement.adresse|nl2br }}</span>
        {{ google_map(map) }}
    </p>
    <div class="steack">
        <span id="lat">{{ evenement.latitude }}</span>
        <span id="lon">{{ evenement.longitude }}</span>
    </div>
    <p>Liste des inscrits ({{ userEvenementValides|length }}/{{ evenement.inscrit }} reste {{ evenement.inscrit - userEvenementValides|length }})<p>
    {% for ue in userEvenementValides %}
       <p><a href="{{ path('ws_user_user_profil', {'id': ue.user.id}) }}">{{ ue.user.username }}</a></p>
    {% endfor %}
    <p>Liste d'attente ({{ userEvenementAttentes|length }})</p>
    {% for ue in userEvenementAttentes %}
        <p><a href="{{ path('ws_user_user_profil', {'id': ue.user.id}) }}">{{ ue.user.username }}</a></p>
    {% endfor %}
    <p>
        {% if app.user == evenement.user %}
            {% if "now"|date('Y-m-d H:i:s') < dateEvenement|date('Y-m-d H:i:s') %}
                <a href="{{ path('ws_ovs_evenement_desactiver', {'id': evenement.id}) }}">Supprimer cet événement</a>
                <a href="{{ path('ws_ovs_evenement_gerer', {'id': evenement.id}) }}">Gérer les inscrits</a>
                <a href="{{ path('ws_ovs_evenement_modifier', {'id': evenement.id}) }}">Modifier l'événement</a>
            {% endif %}
        {% else %}
            {% set present = false %}
            {% for us in evenement.userEvenements %}
                {% if us.user == app.user and us.actif == 1 %}
                    {% set present = true %}
                {% endif %}
            {% endfor %}
            {% if present == true %}
                {% if "now"|date('Y-m-d H:i:s') < dateEvenement|date('Y-m-d H:i:s') %}
                    <a href="{{ path('ws_ovs_userevenement_annuler', {'id': evenement.id}) }}">annuler ma participation</a>
                {% endif %}
            {% else %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if "now"|date('Y-m-d H:i:s') < dateEvenement|date('Y-m-d H:i:s') %}
                        <a href="{{ path('ws_ovs_userevenement_add', {id: evenement.id}) }}">S'inscrire à l'événement</a>
                    {% endif %}
                {% else %}
                    <p>Vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a> pour pouvoir vous inscrire à l'événement</p>
                {% endif %}
            {% endif %}
        {% endif %}
    </p>
    {{ render(controller('WSOvsBundle:Commentaire:list', {'id':evenement.id})) }}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('WSOvsBundle:Commentaire:add', {'id':evenement.id})) }}
    {% else %}
        <p>Vous devez être <a href="{{ path('fos_user_security_login') }}">connecté</a> pour pouvoir poster un commentaire</p>
    {% endif %}
    <p><a href="{{ path('ws_ovs_evenement_listdate', {'date': evenement.date|date('Y-m-d')}) }}">Retour à la liste des événements</a></p>
        <script src="{{ asset('js/addresspickervoir.js') }}"></script>
{% endblock %}
