{% extends "WSUserBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - mon profil
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    <a href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a>
{% endblock %}
{% block utilisateur %}
    <p>Mes amis :</p> 
    {% for ami in amis %}
        <p><a href="{{ path('ws_user_user_profil', {'id':ami.userbis.id}) }}">{{ ami.userbis.username }}</a> <a href="{{ path('ws_user_ami_desactiver', {'id':ami.userbis.id})}}">Supprimer</a></p>
    {% else %}
        <p>Pas encore d'ami</p>
    {% endfor %}
    
    <p>Amis potentiel :</p>
    {% for ami_att in amis_att %}
        <p><a href="{{ path('ws_user_user_profil', {'id':ami_att.user.id}) }}">{{ ami_att.user.username }}</a> <a href="{{ path('ws_user_ami_gerer',{'id':ami_att.user.id, 'accepter':1})}}">Accepter</a> <a href="{{ path('ws_user_ami_gerer',{'id':ami_att.user.id, 'accepter':0})}}">Refuser</a></p>
    {% else %}
        <p>Aucune demande en attente</p>
    {% endfor %}
    
    <div>
       {{ render(controller("WSChatBundle:Chat:historiqueListeChats")) }}
    </div>
    <p>Les événements que vous avez créés :</p>
    {% if evenements is not empty %}
        <table>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>Ville</th>
            </tr>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.date|date('d/m/Y')}}</td>
                    <td>{{ evenement.heure|date('H:i') }}</td>
                    <td>{{ evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': evenement.id}) }}">{{ evenement.nom }}</a></td>
                    <td>{{ evenement.nombreValide }} / {{ evenement.inscrit }}</td>
                    <td>{{ evenement.ville }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>vous n'avez créé aucun événement.</p>
    {% endif %}
    <br/>
    <p>Les événements auxquels vous avez participé :</p>
    {% if userEvenements is not empty %}
        {% if userEvenements|length < 10 %}
            <p>Courage plus que {{ 10 - userEvenements|length }} avant la médaille de bronze.</p>
        {% else %}
            {% if userEvenements|length >= 10 and userEvenements|length < 30 %}
                <p>Bravo vous êtes médaille de bronze, plus que {{ 30 - userEvenements|length }} avant la médaille d'argent.</p>
            {% else %}
                {% if userEvenements|length >= 30 and userEvenements|length < 50 %}
                    <p>Bravo vous êtes médaille d'argent, plus que {{ 50 - userEvenements|length }} avant la médaille d'or.</p>
                {% else %}
                    <p>Bravo vous êtes médaille d'or.</p>
                {% endif %}
            {% endif %}
        {% endif %}
        <table>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Sport</th>
                <th>Sortie</th>
                <th>Inscrit</th>
                <th>Ville</th>
                <th>Organisateur</th>
            </tr>
            {% for userEvenement in userEvenements %}
                <tr>
                    <td>{{ userEvenement.evenement.date|date('d/m/Y')}}</td>
                    <td>{{ userEvenement.evenement.heure|date('H:i') }}</td>
                    <td>{{ userEvenement.evenement.sport.nom }}</td>
                    <td><a href="{{ path('ws_ovs_evenement_voir', {'id': userEvenement.evenement.id}) }}">{{ userEvenement.evenement.nom }}</a></td>
                    <td>{{ userEvenement.evenement.nombreValide }} / {{ userEvenement.evenement.inscrit }}</td>
                    <td>{{ userEvenement.evenement.ville }}</td>
                    <td><a href="{{ path('ws_user_user_profil', {'id': userEvenement.evenement.user.id}) }}">{{ userEvenement.evenement.user.username }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>vous n'avez participé à aucun événement.</p>
    {% endif %}
{% endblock %}